<div class="startup-step m-5">
  <div class="startup-step__number">
    <span class="startup-step__circle"></span>
    {{ step_number }}
  </div>
  <div class="startup-step__content d-flex justify-content-between">
    <div class="startup-step__icon w-25 pr-3">
      <i class="fas fa-2x fa-file-invoice"></i>
    </div>
    <div class="startup-step__text">
      <h4>{{ content.field_title }} </h4>
      {{ content.field_description }}
    </div>
  </div>
</div>
