<div class="contact--teaser">
  <i class="{{ icon.style}} fa-4x fa-{{~icon.icon_name}} text-blue"></i>
  <h5>{{ content.field_title }}</h5>
  <small class="small text-center text-muted">
    {{ content.field_description}}
  </small>
</div>
