{% set btn_title = paragraph.field_cta_link.0.title %}
{% set btn_link = paragraph.field_cta_link.0.getUrl().toString() %}
<a href="{{ btn_link }}" title="{{ btn_title }}"><i class="{{ icon.style}} fa-2x fa-{{~icon.icon_name}} text-white"></i></a>
