<div class="text-box bg-gray">
  <i class="{{ section.icon.style}} fa-3x fa-{{~section.icon.icon_name}} text-green mb-3"></i>
  <h4>{{ drupal_field('field_title', 'paragraph', section.target_id) }}</h4>
  {{ drupal_field('field_description', 'paragraph', section.target_id) }}
</div>
